.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180%; /* Increased width to make the box wider */
  margin: 0 auto; /* Ensures the box is centered */
  padding: 40px; /* Increased padding to make the box bigger */
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(152, 24, 24, 0.1);
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profileInfo p {
  display: flex;
  justify-content:flex-start;/* Ensures labels and values are in a straight line */
  width: 100%; /* Takes up the full width of the parent */
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.profileInfo p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #178ca4;
  border-radius: 50%;
  margin-right: 10px;
}

